<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYS- Admin Panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/style.css" />
</head>
<body>
    <!--Header-->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">Grab Your Seat - Admin Panel</a>
                </div>
            </div>
        </nav>
    </header>
    <!--/Header-->
    <!--Main Site-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/">
                        <span class="text-gradient"><i class="fas fa-angle-double-left"></i>All Users</span>
                    </a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">New user</h2>
                <span class="text-light">Use the below form to create a new account</span>
            </div>
            <!--Form Handling-->
            <form method="POST" id="update_user">
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">Full Name</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="name" value="" placeholder="John Doe">
                    </div>
                    <div class="form-group">
                        <label for="mobile" class="text-light">Mobile</label>
                        <input type="number" name="mobile" value="" placeholder="0123459876">
                    </div>
                    <div class="form-group">
                        <label for="email" class="text-light">Email</label>
                        <input type="email" name="email" value="" placeholder="johndoe@mail.lo">
                    </div>
                    <div class="form-group">
                        <label for="password" class="text-light">Password</label>
                        <input type="password" name="password" value="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="confrim-password" class="text-light">Confirm Password</label>
                        <input type="password" name="confirm-password" value="" placeholder="">
                    </div>
                </div>
            </form>
        </div>
    </main>
    <!--/Main Site-->
</body>
</html>