            <!--Form Handling-->
            <form method="POST" id="add_event">
                <div class="new_user">
                    <div class="form-group">
                        <label for="slug" class="text-light">Slug</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="slug" value="" placeholder="star-wars">
                    </div>
                    <div class="form-group">
                        <label for="name" class="text-light">Event Name</label>
                        <input type="text" name="name" value="" placeholder="Movie: Star Wars">
                    </div>
                    <div class="form-group">
                        <label for="description" class="text-light">Description</label>
                        <input type="text" name="description" value="" placeholder="Star Wars The Last Jedi">
                    </div>
                    <div class="form-group">
                        <label for="start-date" class="text-light">Start Date</label>
                        <input type="date" name="start-date" value="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="end-date" class="text-light">End Date</label>
                        <input type="date" name="end-date" value="" placeholder="">
                    </div>
                    <div class="form-group">
                        <div class="form-group checkbox">
                            <input type="checkbox" name="is-published">
                            <label for="is-published" class="text-light">Published</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>
                </div>
            </form>