<tr>
    <td>1</td>
    <td>avatar-2</td>
    <td>Movie: Avatar 2</td>
    <td>Avatar 2 by James Cameroon</td>
    <td>01/12/2022</td>
    <td>25/12/2022</td>
    <td>true</td>
    <td>
        <a href="/edit-event" class="btn border-shadow update">
            <span class="text-gradient">
                <i class="fas fa-pencil-alt"></i>
            </span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient">
                <i class="fa-solid fa-trash"></i>
            </span>
        </a>
    </td>
</tr>