<tr>
    <td>1</td>
    <td>Movie: Avatar 2</td>
    <td>25/12/2022</td>
    <td>14:00-17:00</td>
    <td>300</td>
    <td>1000</td>
    <td>990</td>
    <td>
        <a href="/edit-tickets" class="btn border-shadow update">
            <span class="text-gradient">
                <i class="fas fa-pencil-alt"></i>
            </span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient">
                <i class="fa-solid fa-trash"></i>
            </span>
        </a>
    </td>
</tr>