            <!--Form Handling-->
            <form method="POST" id="update_tickets">
                <div class="new_user">
                    <div class="form-group">
                        <input type="hidden" name="id" value="">
                        <label for="name" class="text-light">Event Name</label>
                        <input type="text" name="name" value="" placeholder="Movie: Star Wars">
                    </div>
                    <div class="form-group">
                        <label for="start-date" class="text-light">Date</label>
                        <input type="date" name="start-date" value="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="description" class="text-light">Description</label>
                        <input type="text" name="description" value="" placeholder="14:00 - 17:00">
                    </div>
                    <div class="form-group">
                        <label for="price" class="text-light">Price</label>
                        <input type="number" name="price" value="" placeholder="199">
                    </div>
                    <div class="form-group">
                        <label for="quantity" class="text-light">Quantity</label>
                        <input type="number" name="quantity" value="" placeholder="100">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>
                </div>
            </form>